<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Testing.listeners"/>
</listeners>

  <test name="Effort to log in valid and invalid user, which log and delete boulder">
    <classes>
      <class name="Testing.logInTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
